body{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: sans-serif;
}

.wrapper {
	margin: 0 auto;
	margin-top: 55px;
	max-width: 600px;
	height: 500px;
	padding: 20px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: lightblue;
}

h1 {
	font-size: 42px;
	color: white;
	font-family: 'Patrick Hand SC', cursive;
}
a {
	cursor: default;
	color: grey;
	text-decoration: none;

	font-family: 'Cabin', sans-serif;
}

#first li{
	display: none;
	text-align: left;
	list-style-type: none;
}

#menu ul li :hover #first li{
	display: list-item;
	text-align: center;
	list-style-type: none;
}

li {
	margin: auto;
	background-color: white;
	padding: 3%;
	list-style-type: none;
}
nav {
	margin: auto;
	text-align: center;
	background-color: #c3c3c3;
	max-width: 300px;
}
