body{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: sans-serif;
}

.wrapper {
	margin: 0 auto;
	margin-top: 55px;
	max-width: 600px;
	height: 500px;
	padding: 20px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: lightblue;
}

h1 {
	font-size: 42px;
	color: white;
	font-family: 'Patrick Hand SC', cursive;
}
a {
	cursor: default;
	color: grey;
	text-decoration: none;

	font-family: 'Cabin', sans-serif;
}
nav {
	margin: auto;
	background-color: #c3c3c3;
	max-width: 300px;
}

#first > a {
	color:white;
}
#first {
  margin-right: 42px;
}
#toogle li{
  display: none;
  margin-left: -40px;
  float: left;
  width: 200px;
  text-align: left;
	background-color: white;
	list-style-type: none;
}
nav:hover #toogle li{
  display:block !important;
}

#menu ul li ul a{
	padding: 3%;
	display: block;
  	margin : auto;
	list-style-type: none;
}

#menu ul li ul li :hover{
  margin : -5;
  background: lightgrey;
  display: block;
}
#first {
  list-style-type: none;
  background-color:#c3c3c3;
}
